<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.xuanwu.im.db.entity.topic.TopicInfo" alias="TopicInfo"/>
        <typeAlias type="com.xuanwu.im.db.entity.topic.TopicSubMap" alias="TopicSubMap"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/TopicDao.xml"/>
        <mapper resource="mapper/TopicSubMapDao.xml"/>
    </mappers>
</configuration>
